{% extends "base.html" %} {% block content %}
<div class="container mt-2">
  <h1 class="app-title mt-4 text-center">Edit Image</h1>
  <h2 class="app-description text-center">Apply Method:</h2>
  <div class="row">
    {% for method_name, method_id in methods_ids.items() %}
    <div class="col-sm-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ method_name }}</h5>
          <p class="card-text">Description of the method...</p>

          <button
            onclick="applyMethod('{{ method_name }}', '{{ method_id }}')"
            class="apply-method-button btn btn-dark"
            data-method-id="{{ method_id }}"
            data-method-name="{{ method_name }}"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2>Processed Images:</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Original Image</h3>
      <div class="processed-image">
        <img src="{{ image_url }}" alt="Image" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-6">
      <h3>Processed Image</h3>
      <div class="processed-image">
        <img
          src="{{ image_url }}"
          alt="Image"
          class="img-thumbnail"
          id="processedImage"
        />
      </div>
      <div class="mt-3">
        <button
          onclick="saveProcessedImage('{{ image_id }}', '{{ image_url }}')"
          class="btn btn-primary"
          data-image-url="{{ image_url }}"
        >
          Save Processed Image
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var applyMethodButtons = document.querySelectorAll(".apply-method-button");
    applyMethodButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        var methodId = this.getAttribute("data-method-id");
        var methodName = this.getAttribute("data-method-name"); // Adicione isso para obter o nome do método
        applyMethod(methodName, methodId); // Passe methodName como argumento
      });
    });
  });

  function applyMethod(methodName, methodId) {
    var imageId = "{{ image_id }}";
    var apiUrl = "/apply_method/" + methodName + "/" + imageId;

    fetch(apiUrl, {
      method: "POST",
    })
      .then((response) => response.json())
      .then((data) => {
        var processedImage = document.getElementById("processedImage");
        processedImage.src = data.processed_image_url;
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  function saveProcessedImage(imageId, imageUrl) {
    var apiUrl = "/update/" + imageId;

    var formData = new FormData();
    var newImageInput = document.querySelector('input[name="new_image"]');
    formData.append("new_image", newImageInput.files[0]);
    formData.append("processed_image_url", imageUrl); // Inclua a URL da imagem processada

    fetch(apiUrl, {
      method: "POST",
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        // Redirecione para a página da galeria após salvar a imagem processada
        window.location.href = "/gallery";
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }
</script>
{% endblock %}
