{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="mt-5">Galeria de Imagens</h1>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div
    class="alert {% if category == 'success' %}alert-success{% elif category == 'warning' %}alert-warning{% else %}alert-danger{% endif %}"
    role="alert"
  >
    {{ message }}
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
    {% for image_info in images_info %}
    <div class="col">
      <div class="card h-100">
        <a
          class="fancybox"
          target="_blank"
          href="{{ image_info['image_url'] }}"
          data-caption="{{ image_info['photo_name'] }}"
        >
          <img
            src="{{ image_info['image_url'] }}"
            alt="Image"
            class="card-img-top"
            style="height: 200px; object-fit: cover"
          />
        </a>
        <div class="card-body d-flex flex-column justify-content-between">
          <p class="card-text">
            <strong>Nome:</strong> {{ image_info['photo_name'] }}
          </p>
          <p class="card-text">
            <strong>Data:</strong> {{ image_info['photo_date'] }}
          </p>
          <p class="card-text">
            <strong>Coleção:</strong> {{ image_info['collection_name'] }}
          </p>

          <div class="d-flex mt-3">
            <form
              action="{{ url_for('delete_image', image_id=image_info['image_url'].split('/')[-1].split('.')[0]) }}"
              method="POST"
            >
              <button type="submit" class="btn btn-danger me-2">Excluir</button>
            </form>
            <form
              action="{{ url_for('edit_image', image_id=image_info['image_url'].split('/')[-1].split('.')[0], image_url=image_info['image_url']) }}"
              method="POST"
            >
              <button type="submit" class="btn btn-secondary">
                Preprocessar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a href="{{ url_for('index') }}" class="btn btn-primary mt-4"
    >Voltar para Index</a
  >
</div>
{% endblock %}
