{% extends "base.html" %} {% block content %}
<div class="container d-flex justify-content-center">
  <div style="max-width: 900px; width: 100%">
    <h1 class="mb-4">Envie uma imagem</h1>
    <form method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <input
          type="file"
          name="image"
          accept="image/*"
          required
          class="form-control"
          style="max-width: 100%"
        />
      </div>
      <div class="d-flex">
        <button type="submit" class="btn btn-primary me-2">Enviar</button>
        <a href="{{ url_for('gallery') }}" class="btn btn-info">Ver Galeria</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
