{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="mt-5">Pré-Visualização</h1>
  <div class="mt-4">
    <img
      src="{{ image_url }}"
      alt="Preview"
      class="img-thumbnail"
      style="width: 400px; height: 300px; object-fit: scale-down"
    />
  </div>

  <form
    method="POST"
    action="{{ url_for('save_image', image_id=image_id) }}"
    autocomplete="off"
  >
    <fieldset class="border p-3">
      <legend class="w-auto">Informações da Foto</legend>
      <div class="form-group mt-4">
        <label for="photo_name">Nome da Foto:</label>
        <input
          type="text"
          class="form-control mt-2 mb-2"
          id="photo_name"
          name="photo_name"
          required
        />
      </div>

      <div class="form-group">
        <label for="photo_date">Data da Foto (YYYY-MM-DD):</label>
        <input
          type="date"
          class="form-control mb-2 mt-2"
          id="photo_date"
          name="photo_date"
          required
        />
      </div>
      <div class="form-group">
        <label for="collection_name">Nome da Coleção:</label>
        <input
          type="text"
          class="form-control mb-2 mt-2"
          id="collection_name"
          name="collection_name"
          required
        />
      </div>

      <input type="hidden" name="image_url" value="{{ image_url }}" />
      <input type="hidden" name="image_id" value="{{ image_id }}" />

      <div class="d-flex mt-3">
        <button type="submit" class="btn btn-success me-2">
          Salvar Informações e Foto
        </button>

        <a
          href="{{ url_for('delete_image_preview', image_id=image_id) }}"
          class="btn btn-danger"
        >
          Excluir
        </a>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
